body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 1.2rem;
  margin: 0;

  @media (max-width: $bp-large) {
    padding: 0;
  }
}

.heading--black,
.heading--white {
  letter-spacing: 3px;
  line-height: 1;
  font-size: 5rem;
  font-weight: 600;

  @media (max-width: $bp-medium) {
    font-size: 4.5rem;
    letter-spacing: 2px;
  }
}

.heading--black {
  color: $color-black;
}

.heading--white {
  color: $color-white;
}

.heading-primary {
  text-transform: uppercase;
}

h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 8.5rem;
  font-weight: 400;
  color: $color-primary;
  margin-bottom: -5.8rem;

  @media (max-width: $bp-medium) {
    font-size: 8rem;
  }
}

h5 {
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-grey-light-1;
  margin-bottom: 2rem;
}

p {
  font-size: $default-font-size;
}

.footer p,
.footer span {
  font-size: 1.6rem;
  color: $color-grey-light-2;
}
.footer__copywrite p {
  font-size: 1.4rem;
}
